<div class="new-booking">
<%= render 'shared/navbar' %>
<%= link_to "<< return to the Box", box_path(@box), id: "back-to-box" %>
 <div class="new-booking-container">
  <h3>Request to book with <%= @box.name  %> </h3>

<%= simple_form_for [@box, @booking] do |f| %>
    <div class="form-inputs">
    <%= f.input :start_at, :label => "Start-time" %>
    <%= f.input :end_at, :label => "End-time" %>
    <%= f.submit "Book it!", class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>
</div>


