<%= render 'shared/navbar' %>
<p><%= link_to "<<Return to View Boxes", boxes_path %></p>
<div class="box-show-container">
  <%=@box.image_url  %>
  <h1> <%= @box.name %> </h1>
  <h3>About this Box</h3>
  <p> <%= @box.description %> </p>
  <p> Located: <%= @box.address%> </p>
  <h4><%= @box.price_per_day%> per day </h4>
  <button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Request to book!
  </button>
</div>
