<div class="show-container">
  <%= render 'shared/navbar' %>
<p><%= link_to "<<Return to View Boxes", boxes_path, id: "back-to-boxes" %></p>
<div class="box-show-container">
  <div class="show-image"><%= image_tag @box.image_url, id: "show-image"  %></div>
  <h1> <%= @box.name %> </h1>
  <h3>About this Box</h3>
  <p> <%= @box.description %> </p>
  <p> Located: <%= @box.address%> </p>
  <h4><%= @box.price_per_day%> per day </h4>
 <%= link_to "Request to book!", new_box_booking_path(@box), class:"btn btn-secondary" %>
</div>
</div>

