<div class="booking-card">
  <div class="internal-booking-card">
      <div class="bookings-image" style="background-image: url(<%= booking.box.image_url %>)">
      </div>
      <div class="booking-infos">
        <div>
             <h4> <%= booking.box.name %></h4>
           <p>Drop Off: <%= booking.start_at %></p>
           <p>   Pick Up: <%= booking.end_at %></p>
        </div>
        <h4 class="booking-pricing"> <%= booking.box.price_per_day %>CHF per day</h4>
      </div>
  </div>
</div>
