<div class="card-box">
  <%= link_to "more info", box_path(box.id), class:"btn btn-info btn-sm", id:"cards-button" %>
  <div class="image" style="background-image: url( <%= box.image_url %>)"  id="card-image"/>
  </div>
  <div class="card-box-infos">
    <div>
      <h2><%= box.name %></h2>
      <p><%= box.address %></p>
    </div>
      <h2 class="card-box-pricing"><%= box.price_per_day %>CHF</h2>
  </div>
</div>
