<div class="card-box">
  <div class="image" style="background-image: url( <%= box.image_url %>)"  id="card-image"/>
  </div>
  <div class="card-box-infos">
    <div>
      <h2><%= box.name %></h2>
      <h2><%= box.address %></h2>
      <p> <%= box.description %> </p>
      <%# <p><%= link_to "Click for more info", box_path(box.id) </p>%>
    </div>
    <h2 class="card-box-pricing"> <%= box.price_per_day %></h2>
   </div>
</div>
