<nav class="navbar navbar-dark bg-dark" id="dog-bnb-navbar">
  <%= link_to root_path, id: "home-button" do %>
  <i class="fas fa-paw"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-elements">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li><%= link_to "logout", destroy_user_session_path, id: "login-button", :method => :delete  %></li>
        <% else %>
      <li><%= link_to "login", new_user_session_path, id: "login-button" %></li>
        <a><%= link_to "New around here? Sign up", new_user_registration_path, class: "navbar-link"  %></a>
      </li>
      <% end %>
      <p id="line">____________________________________________________________</p>
      <% if user_signed_in? %>
        <li><%= link_to "Boxes", boxes_path, class: "navbar-link" %></li>
        <li><%= link_to "My Bookings", bookings_path, class: "navbar-link" %></li>
      <% else %>
        <li><%= link_to "Boxes", boxes_path, class: "navbar-link" %></li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>

