<nav class="navbar navbar-dark bg-dark" id="dog-bnb-navbar">
  <%= link_to root_path, id: "home-button" do %>
  <i class="fas fa-paw"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Boxes", boxes_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "logout", destroy_user_session_path, :method => :delete  %></li>
        <% else %>
      <li><%= link_to "login", new_user_session_path %></li>
      <li><div class="dropdown-divider"></div>
        <a><%= link_to "New around here? Sign up", new_user_registration_path  %></a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
