
<%= render 'shared/navbar' %>
<div class="background-img" >
 <div class="container" id="search-form-container">
  <h1>Welcome to Dog-BnB!</h1>
  <p id="home-span">The only place where you can find a place for your dog to vacation, while you're on vacation.</p>
    <%= form_tag boxes_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control", id: "town-form",
      placeholder: "Find a Box"
      %>
      <%= select_tag :km, options_for_select([5, 10, 20, 30, 50, 100, 500]), class: "form-control", id: "km" %>
      <%= submit_tag "Woof", class: "btn btn-info", id:"info-button" %>
    <% end %>
  </div>
</div>
